@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
body {
    background:  url('./img/fundo1.png'); /* Cor de fundo azul celeste */
    background-size: cover;
    overflow: hidden;
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
  
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;   
    flex-wrap: wrap;
}
.container h1{
    margin: 30px;
    font-size: 60px;
    color: #212121;
    
}

.containerInput{
    box-shadow: 0px 0px 30px #4c4c4c;
    padding: 6px;
    border-radius: 100000px;
    background-color: rgba(240, 217, 8, 0.973);
    display: flex;
}
.input{ 
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    font-size: medium;
    background: transparent;
    padding: 3px;
    margin: 4px;
}

.button{
   font-size: 20px;
   background: none;
   border: none;
   margin: 2px;
   cursor: pointer;
}

.containerInfo{
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    flex: 1 1 0px;
}
.containerInfo span{
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

